html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: #99E2FF;
    background: -webkit-linear-gradient(180deg, rgba(153, 226, 255, 1) 0%, rgba(255, 255, 255, 1) 12%, rgba(255, 255, 255, 1) 88%, rgba(153, 226, 255, 1) 100%);
    background: -moz-linear-gradient(180deg, rgba(153, 226, 255, 1) 0%, rgba(255, 255, 255, 1) 12%, rgba(255, 255, 255, 1) 88%, rgba(153, 226, 255, 1) 100%);
    background: linear-gradient(180deg, rgba(153, 226, 255, 1) 0%, rgba(255, 255, 255, 1) 12%, rgba(255, 255, 255, 1) 88%, rgba(153, 226, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#99E2FF", endColorstr="#99E2FF", GradientType=0);
    color: black;
}